@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
}
body{
    text-align: center;
    /* Cute donut background */
    background: url("./images/BG.png") no-repeat center center fixed;
    background-size: cover;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

    /* soft glass background */
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 22px;
    padding: 1.5vmin;
}

#box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;

    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 8px 20px rgba(255, 180, 200, 0.45);

    font-size: 8.5vmin;
    font-weight: 700;

    color: #d28c55; /* default cookie color */
    transition: all 0.3s ease;
}

#box.x {
    color: #c46f28;
    text-shadow: 0 0 12px rgba(196, 111, 40, 0.4);
}

#box.o {
    color: #ff92c7;
    text-shadow: 0 0 14px rgba(255, 150, 200, 0.5);
}

#box:hover {
    transform: scale(1.05);
}

#reset-btn,
#newbtn,
#newbtn1{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;

    background-color: #ff9eb5;     
    color: #5b2b18;                 
    
    border-radius: 1rem;
    border: none;

    box-shadow: 0 6px 20px rgba(255, 150, 170, 0.4);
    transition: 0.25s;
}
#reset-btn:hover,
#newbtn:hover,
#newbtn1:hover{
    transform: scale(1.12);
    background-color: #ffb6c9;
}
#msg, #draw{
    font-size: 8vmin;
    font-weight: 700;
    letter-spacing: 2px;
}
#msg{
    color: #ff7ca8;
    text-shadow: 0px 4px 14px rgba(16, 16, 16, 0.5);
}
#draw{
    color: #7d4b20;
    text-shadow: 0px 4px 14px rgba(16, 16, 16, 0.4);
}
.msg-container, 
.draw-condition{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.hide{
    display: none;
}
