*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #ECDCB0;
    

}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
#box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 2rem rgba(7, 51, 1, 0.2);
    font-size: 8vmin;
    background-color:#C1D7AE;
    color: #968E85;
    
    

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: none;
}

#newbtn{
    padding: 1.25rem;
    font-size: 2rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    
}
#msg{
    color: #000000;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
#draw{
    color: #000000;
    font-size: 8vmin;
}
.draw-condition{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
#newbtn1{
    padding: 1.25rem;
    font-size: 2rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}
.hide{
    display: none;
}